:root {
  --color-text: #222222;
  --color-background: #ffffff;
  --color-button-background: #EEEEEE;
  --color-button-text: #222222;
  --color-input-background: #ffffff;
  --color-input-border: #aaaaaa;
  --color-input-text: #222222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ffffff;
    --color-background: #222222;
    --color-button-background: #444444;
    --color-button-text: #ffffff;
    --color-input-background: #333333;
    --color-input-border: #444444;
    --color-input-text: #ffffff;
  }
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
}


body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

svg {
  width: 90px;
  margin-bottom: 10px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 16px;
}

.search__title {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.search__logo pre {
  white-space: pre;
  font-family: monospace;
  letter-spacing: unset;
  transform: unset;
  overflow-y: hidden;
  font-size: 0.1rem;
  line-height: 0.1rem;
  color: var(--color-text);
  text-shadow: 0 0 1px var(--color-text);
  user-select: none;
}

.search__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

button {
  font-family: sans-serif;
  border: none;
  border-radius: 8px;
  background-color: var(--color-button-background);
  color: var(--color-button-text);
  padding: 8px 16px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

button:hover,
button:focus-visible {
  background-color: var(--color-button-text);
  color: var(--color-button-background);
}

input {
  appearance: none;
  border: 1px solid;
  background-color: var(--color-input-background);
  border-color: var(--color-input-border);
  color: var(--color-input-text);
  border-radius: 16px;
  padding: 8px 16px;
  width: 400px;
  margin-bottom: 16px;
  font-size: 18px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}
